body {
    width: 100%;
    height: fit-content;
    background-color: $main-color;
}

.container {
    padding: 0 70px;
    max-width: 1920px;
    margin: 0 auto;
    @include padding(0, 70px, 0, 70px);

    @media (max-width: 1200px) {
        @include padding(0, 30px, 0, 30px);
    }

    @media (max-width: 768px) {
        @include padding(0, 20px, 0, 20px);
    }
}