@mixin margin($margin-top, $margin-right, $margin-bottom, $margin-left) {
    margin-top: $margin-top;
    margin-right: $margin-right;
    margin-bottom: $margin-bottom;
    margin-left: $margin-left;
}

@mixin padding($padding-top, $padding-right, $padding-bottom, $padding-left) {
    padding-top: $padding-top;
    padding-right: $padding-right;
    padding-bottom: $padding-bottom;
    padding-left: $padding-left;
}

@mixin link($text-decoration, $color) {
    text-decoration: $text-decoration;
    color: $color;
}

@mixin text-transform-color($text-transform, $color) {
    text-transform: $text-transform;
    color: $color;
}