%flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%Gilroy-ExtraBold {
    font-family: "Gilroy-ExtraBold";
    font-weight: 800;
}

%Gilroy-Light {
    font-family: "Gilroy-Light";
    font-weight: 300;
}

%Gilroy-Medium {
    font-family: "Gilroy-Medium";
    font-weight: 400;
}

%Gilroy-SemiBold {
    font-family: "Gilroy-SemiBold";
    font-weight: 400;
}

%Gilroy-Bold {
    font-family: "Gilroy-Bold";
    font-weight: 400;
}

%Gilroy-Regular {
    font-family: "Gilroy-Regular";
    font-weight: 400;
}