.create__section-about-me {
    padding: 93px 0;
    border-bottom: 1px solid $gray;

    @media (max-width: 1200px) {
        padding: 0;
    }
}


.about-me__desc-div {
    max-width: 1295px;

    @media (max-width: 1200px) {
        padding-top: 30px;
        margin-bottom: 30px;
    }

}

.about-me {
    display: flex;
    justify-content: space-between;
    gap: 70px;

    @media (max-width: 1200px) {
        display: block;
        text-align: center;
    }

    &__desc {
        margin: 0;
    }
}

.desc-dianne {
    @extend %Gilroy-Light;
    font-size: clamp(1.875rem, 1.475rem + 2vw, 3.875rem);
}

.text--color-gray {
    @include text-transform-color(none, $gray);
}

.text-accent {
    @extend %Gilroy-ExtraBold;
}

.about-me__contacts {
    @include padding(60px, 70px, 60px, 0);
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    min-width: 485px;

    @media (max-width: 1200px) {
        @include padding(40px, 30px, 40px, 0);
        width: 100%;
    }

    @media (max-width: 504px) {
        min-width: 320px;
    }
}

.about-me__contacts-title {
    @include margin(0, 0, 0, 0);
}

.title-contacts {
    @extend %Gilroy-Medium;
    line-height: clamp(1.75rem, 1.7rem + 0.25vw, 2rem);
    font-size: clamp(1.75rem, 1.7rem + 0.25vw, 2rem);
}

.text--uppercase-white {
    @include text-transform-color(uppercase, $white);
}

.about-me__contacts-list {
    @include margin(0, 0, 0, 0);
    @include padding(0, 0, 0, 0);

}

.list-contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}