.page-contacts {
    display: flex;
    align-items: flex-start;
    gap: 120px;
    border-top: 1px solid #252525;
    padding-top: 100px;
    padding-bottom: 100px;

    @media (max-width:1274px) {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.page-contacts-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width:1274px) {
        align-items: center;
    }
}

.page__contacts {
    padding-right: 70px;
    padding-left: 70px;

    @media (max-width:1274px) {
        padding: 30px 30px 50px 30px;
    }
}

.page-contacts h2 {
    font-family: "Gilroy-Light";
    font-size: 155px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;

    @media (max-width:747px) {
        font-size: 80px;
    }

    @media (max-width:500px) {
        font-size: 57px;
    }
}

.page-contacts-container h3 {
    font-family: Gilroy-Bold;
    font-size: 64px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;

    @media (max-width:747px) {
        font-size: 50px;
    }
}

.page-contacts-container span {
    font-family: Gilroy-Medium;
    font-size: 34px;
    font-weight: 400;

    @media (max-width:747px) {
        font-size: 30px;
    }
}

.page-contacts-button {
    border-radius: 50px;
    border: none;
    background: #252525;
    padding: 10px 26px;
    color: #FFF;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    width: 100%;
    max-width: 195px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width:747px) {
        max-width: 438px;
        justify-content: center;
        gap: 10px;
    }
}