.design__name {
    text-align: center;
}

.design__title {
    @include margin(0, 0, 0, 0);
}

.title-main {
    font-family: "Gilroy-SemiBold";
    font-size: clamp(3.563rem, 2.4rem + 5.81vw, 9.375rem);
}

.text--uppercase-gray {
    @include text-transform-color (uppercase, $gray);
}

.design__subtitle {
    @include margin(0, 0, 30px, 0);
}

.subtitle-main {
    font-family: "Gilroy-Light";
    font-size: clamp(3.563rem, 2.4rem + 5.81vw, 9.375rem);
}

.text--capitalize-gray {
    @include text-transform-color (capitalize, $gray);
}

.design__arrow-bottom {
    @include margin(0, auto, 0, auto);
}

.design__picture {
    @include margin(51px, 0, 0, 0);
    width: 100%;

    @media (max-width: 1200px) {
        @include margin(40px, 0, 0, 0);
    }

    @media (max-width: 768px) {
        @include margin(14px, 0, 0, 0);
        height: auto;

    }
}