.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 70px;
  border-top: 1px solid #252525;
}
@media (max-width: 1274px) {
  .page-footer {
    padding: 25px 30px;
  }
}
@media (max-width: 747px) {
  .page-footer {
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
  }
}

.page-footer-span {
  font-family: Gilroy-Regular;
  font-size: 18px;
  font-weight: 400;
}
.page-footer-span--bold {
  font-family: Gilroy-SemiBold;
}

.page-footer-media-container {
  display: flex;
  gap: 10px;
}/*# sourceMappingURL=footer.css.map */