.header__page {
    @extend %flex;
    padding-top: 40px;
    padding-bottom: 78px;

    @media (max-width: 768px) {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}

.header__logo-link {
    @include link(none, $black);
    @extend %flex;
    gap: 10px;
    letter-spacing: -0.7px;
}

.header__logo-accent {
    @media (max-width: 768px) {
        display: none;
    }
}

.logo-accent {
    @extend %Gilroy-ExtraBold;
    font-size: 35px;
}

.header__logo-text {
    @include margin(0, 0, 0, 0);
    position: relative;

    @media (max-width: 768px) {
        display: none;
    }

    &::after {
        content: "®";
        display: inline-block;
        @extend %Gilroy-Light;
        font-size: 25px;
        width: 21px;
        height: 29px;
        position: absolute;
    }
}

.logo-text {
    @extend %Gilroy-Medium;
    font-size: 35px;
    text-transform: uppercase;
}

.header__button-menu {
    @extend %Gilroy-SemiBold;
    @include padding(0, 0, 0, 0);
    background-color: inherit;
    border: none;
    font-size: 25px;
}

.text--uppercase-gray {
    @include text-transform-color (uppercase, $gray);
}