.create__div-content {
    border-bottom: 1px solid $gray;
}

.create__section-logo {
    padding-top: 70px;
    padding-bottom: 70px;


    @media (max-width: 1200px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @media (max-width: 768px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.logo__list {
    @include padding(0, 0, 0, 0);
    @include margin(0, 0, 0, 0);
    @extend %flex;
    flex-wrap: wrap;
    list-style-type: none;
    row-gap: 22px;

    @media (max-width: 1200px) {
        column-gap: 20px;
        justify-content: center;
        max-width: 991px;
    }

    @media (max-width: 768px) {
        row-gap: 20px;

    }
}

.logo__item {
    border-radius: 50px;
    background-color: $white;
    @include padding(15px, 40px, 15px, 40px);
}