.page-section-fourth-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-section-fourth-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  width: 567px;
  box-sizing: border-box;
  padding: 30px;
}
.page-section-fourth-card--border-bottom {
  border-bottom: 1px solid #000;
}
@media (max-width: 1842px) {
  .page-section-fourth-card--border-bottom {
    border: none;
  }
}
.page-section-fourth-card--border-right {
  border-right: 1px solid #000;
}
@media (max-width: 1842px) {
  .page-section-fourth-card--border-right {
    border: none;
  }
}
@media (max-width: 1842px) {
  .page-section-fourth-card--border-left {
    border-left: 1px solid #000;
  }
}
@media (max-width: 1274px) {
  .page-section-fourth-card--border-left {
    border: none;
  }
}
@media (max-width: 1842px) {
  .page-section-fourth-card--border-top {
    border-top: 1px solid #000;
  }
}
@media (max-width: 1274px) {
  .page-section-fourth-card--border-top {
    border: none;
  }
}
@media (max-width: 1274px) {
  .page-section-fourth-card {
    border-bottom: 1px solid #000;
    width: 100%;
    padding: 40px 0px;
  }
}

.page-section-fourth-title {
  font-family: "Gilroy-Light";
  font-size: 212px;
  font-weight: 300;
  letter-spacing: 8.48px;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #252525;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
}
@media (max-width: 1842px) {
  .page-section-fourth-title {
    font-size: 150px;
    padding-top: 30px;
  }
}
@media (max-width: 962px) {
  .page-section-fourth-title {
    font-size: 82px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.page-section-fourth__title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.page-section-fourth__cards {
  margin-left: 70px;
  margin-right: 70px;
}
@media (max-width: 1274px) {
  .page-section-fourth__cards {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.page-section-fourth-card-title {
  max-width: 507px;
  font-size: 40px;
  font-weight: 800;
  line-height: 44px;
  margin: 0;
}

.page-section-fourth-card-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.page-section-fourth-card-author-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.page-section-fourth-card-author-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}/*# sourceMappingURL=my-clients.css.map */