.main__section-team {
    padding-top: 50px;
    padding-bottom: 48px;

    @media (max-width: 1200px) {
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

.team {
    border-top: 1px solid $gray;
}

.team__title {
    margin-bottom: 50px;

    @media (max-width: 1200px) {
        margin-bottom: 30px;
    }
}

.team__list {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 30px 40px;
    grid-template-areas:
        "a b c d"
        "i f g g";

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        grid-template-areas:
            "a b"
            "c d"
            "i f"
            "g g";
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, minmax(150px, 1fr));
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "i"
            "f"
            "g";
        gap: 20px;
    }
}

.team__item {
    padding: 30px 0;
    height: 100%;
}

.item-tyra {
    grid-area: a;
}

.item-darcel {
    grid-area: b;
}

.item-brittni {
    grid-area: c;
}

.item-roselle {
    grid-area: d;
}

.item-jane {
    grid-area: i;
}

.item-robert {
    grid-area: f;
}

.item-job {
    grid-area: g;
}

.team__link {
    text-decoration: none;
    display: block;
}

.team__member-title {
    margin: 0 0 5px 0;

    @media (max-width: 768px) {
        text-align: center;
    }
}

.member-title {
    @extend %Gilroy-ExtraBold;
    font-size: 30px;

    @media (max-width: 1390px) {
        font-size: 25px;
    }

    @media (max-width: 1200px) {
        font-size: 30px;
    }
}

.member-profession {
    @extend %Gilroy-Medium;
    font-size: 20px;
}

.text--uppercase-dark_gray {
    @include text-transform-color(uppercase, $dark-gray);
}

.text--color-dark_gray {
    color: $dark-gray;
}

.team__member-wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.team__member-profession {
    @include margin(0, 0, 0, 0);

    @media (max-width: 768px) {
        text-align: center;
    }
}

.team__list-icons {
    @include padding(0, 0, 0, 0);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 768px) {
        justify-content: center;
    }
}

.team__text {
    @include margin(0, 0, 0, 0);

    @media (max-width: 768px) {
        text-align: center;
    }
}

.text-normal {
    @extend %Gilroy-Regular;
    font-size: 30px;
}

.text-bold {
    @extend %Gilroy-Bold;
    font-size: clamp(2.5rem, 2.2rem + 1.5vw, 4rem);
}



.div-job {
    justify-content: center;
    height: 100%;

    @media (max-width: 768px) {
        align-items: center;
    }
}

.div {
    @media (max-width: 768px) {
        width: 100%;
        text-align: center;
    }
}

.div {
    display: flex;
    align-items: center;
}

.team__link-text {
    @include link(none, $white);
    padding: 9px 29px;
    border-radius: 50px;
    width: 164px;
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;


    @media (max-width: 768px) {
        width: 100%;
        justify-content: center;
    }
}