.main__section-work {
    padding-top: 70px;
    padding-bottom: 109px;

    @media (max-width: 1200px) {
        padding: 30px 0;
    }
}

.work__title {
    margin-bottom: 50px;

    @media (max-width: 1200px) {
        margin-bottom: 30px;
    }
}

.title-section {
    @extend %Gilroy-Light;
    font-size: clamp(3.438rem, 1.475rem + 9.81vw, 13.25rem);
    letter-spacing: 8.48px;
    text-align: center;

    @media (max-width: 1200px) {
        letter-spacing: 6px;
    }

    @media (max-width: 768px) {
        letter-spacing: 3.2px;
    }
}

.work__list {
    @include margin(0, 0, 0, 0);
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 40px;

    @media (max-width: 1200px) {
        gap: 30px;
        flex-direction: column;
    }

    @media (max-width: 768px) {
        gap: 20px;
    }
}

.work__item {
    position: relative;
    width: 567px;
    flex-shrink: 1;
    @include margin(0, 0, 70px, 0);

    @media (max-width: 1200px) {
        @include margin(0, 0, 0, 0);
        width: 100%;
    }
}

.item--location-three {
    @media (max-width: 1200px) {
        order: 3;
        margin-bottom: 70px;
        min-height: 209px;
    }

    @media (max-width: 1200px) {
        order: 3;
        margin-bottom: 40px;
        min-height: 198px;
    }
}

.work__div-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 768px) {
        gap: 20px;
    }
}

.work__div-title {

    @include margin(0, 0, 0, 0);
}

.title-content {
    @extend %Gilroy-Bold;
    font-size: clamp(2.188rem, 2.125rem + 0.31vw, 2.5rem);
    line-height: 44px;
}

.text--uppercase-black {
    @include text-transform-color(uppercase, $black);
}

.work__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    text-decoration: none;
}


.work__link-item {
    @include padding(15px, 30px, 15px, 30px);
    @include margin(0, 0, 0, 0);
    border-radius: 50px;
}

.work__link-text {
    @include link(none, $white);
    @include padding(10px, 61px, 10px, 30px);
    border-radius: 50px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.link-arrow--position-right::after {
    content: "";
    width: 21px;
    height: 14px;
    display: block;
    background-image: url("../../images/arrow-left.svg");
    background-repeat: no-repeat;
    background-size: 21px 13px;
    position: absolute;
    top: 15px;
    right: 30px;
}

.link-text {
    @extend %Gilroy-Medium;
    font-size: 18px;
}

.text--color-gray {
    color: $gray;
}

.text--back-white {
    background-color: $white;
}

.text--back-gray {
    background-color: $gray;
}

.work__img {
    max-width: 100%;
    display: block;
    height: 567px;

    @media (max-width: 1200px) {
        height: 921px;
        width: 100%;
    }

    @media (max-width: 768px) {
        height: 417px;
    }
}

.work__link-block {
    text-align: center;
}

.work__link-options {
    text-decoration: none;
    @include padding(15px, 60px, 15px, 60px);
    border-radius: 50px;
    display: inline-block;

    @media (max-width: 768px) {
        display: block;

    }
}