.page-section-second {
    display: flex;
    gap: 111px;
    border-bottom: 1px solid $gray;
    padding-bottom: 70px;

    @media (max-width:1200px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.page-section-second-img-container {
    background-image: url("../../images/wall.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width:1200px) {
        height: 991px;
    }

    @media (max-width:550px) {
        background-size: 100%;
        height: 478px;
    }

    @media (max-width:500px) {
        background-size: 100%;
        height: 377px;
    }
}

.text-container h2 {
    font-family: "Gilroy-Light";
    font-size: 150px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    margin-top: 70px;

    @media (max-width:1200px) {
        font-size: 80px;
        margin-left: 30px;
        margin-top: 0px;
        margin-top: -85px
    }

    @media (max-width:768px) {
        margin-left: 30px;
        margin-right: 30px;
        margin-right: 30px;

    }
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    @media (max-width:1920px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width:1200px) {
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
    }

}

.text-container-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box;
    border-bottom: 1px solid #252525;
    // max-width: 931px;

    &--bold {
        font-size: 44px;
        line-height: 48px;
        text-transform: uppercase;
        font-family: Gilroy-SemiBold;

        @media (max-width:768px) {
            font-size: 35px;
        }
    }

    &--thin {
        font-size: 44px;
        line-height: 48px;
        text-transform: uppercase;
        font-family: Gilroy-Light;
    }

    @media (max-width:1200px) {
        width: 100%;
    }


}

.text-container-item-1::before {
    content: "01";
    font-size: 35px;
    line-height: 48px;
    text-transform: uppercase;
    font-family: Gilroy-Light;
    margin-right: 14.5px;
}

.text-container-item-2::before {
    content: "02";
    font-size: 35px;
    line-height: 48px;
    text-transform: uppercase;
    font-family: Gilroy-Light;
    margin-right: 14.5px;
}

.text-container-item-3::before {
    content: "03";
    font-size: 35px;
    line-height: 48px;
    text-transform: uppercase;
    font-family: Gilroy-Light;
    margin-right: 14.5px;
}

.text-container-item-4::before {
    content: "04";
    font-size: 35px;
    line-height: 48px;
    text-transform: uppercase;
    font-family: Gilroy-Light;
    margin-right: 14.5px;
}


.text-container__item {
    padding-top: 40px;
    padding-bottom: 40px;
}