.page-section-second {
  display: flex;
  gap: 111px;
}

@media (max-width: 1200px) {
  .page-section-second {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-section-second-img-container {
  background-image: url(../../images/what-l-do.png);
  width: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1200px) {
  .page-section-second-img-container {
    height: 991px;
  }
}

@media (max-width: 768px) {
  .page-section-second-img-container {
    background-size: 100%;
  }
}

.text-container h2 {
  font-family: "Gilroy-Light";
  font-size: 150px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  margin-top: 70px;
}

@media (max-width: 1200px) {
  .text-container h2 {
    font-size: 80px;
    min-width: 961px;
    margin-left: 30px;
    margin-top: 0px;
    margin-top: -85px;
  }
}

@media (max-width: 768px) {
  .text-container h2 {
    margin-left: 30px;
    margin-right: 30px;
    margin-right: 30px;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

@media (max-width: 3000px) {
  .text-container {
    margin-right: 70px;
  }
}

@media (max-width: 1920px) {
  .text-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1200px) {
  .text-container {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.text-container-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
  border-bottom: 1px solid #252525;
}

.text-container-item--bold {
  font-size: 44px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: Gilroy-SemiBold;
}

@media (max-width: 768px) {
  .text-container-item--bold {
    font-size: 35px;
  }
}

.text-container-item--thin {
  font-size: 44px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: Gilroy-Light;
}

@media (max-width: 1200px) {
  .text-container-item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .text-container-item {
    width: 440px;
  }
}

.text-container-item-1::before {
  content: "01";
  font-size: 35px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: Gilroy-Light;
  margin-right: 14.5px;
}

.text-container-item-2::before {
  content: "02";
  font-size: 35px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: Gilroy-Light;
  margin-right: 14.5px;
}

.text-container-item-3::before {
  content: "03";
  font-size: 35px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: Gilroy-Light;
  margin-right: 14.5px;
}

.text-container-item-4::before {
  content: "04";
  font-size: 35px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: Gilroy-Light;
  margin-right: 14.5px;
}

.text-container__item {
  padding-top: 40px;
  padding-bottom: 40px;
}

/*# sourceMappingURL=what-i-do.css.map */