@charset "UTF-8";
.header__logo-link, .header__page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-title, .logo-accent {
  font-family: "Gilroy-ExtraBold";
  font-weight: 800;
}

.title-section, .header__logo-text::after {
  font-family: "Gilroy-Light";
  font-weight: 300;
}

.link-text, .member-profession, .logo-text {
  font-family: "Gilroy-Medium";
  font-weight: 400;
}

.header__button-menu {
  font-family: "Gilroy-SemiBold";
  font-weight: 400;
}

.title-content, .text-bold {
  font-family: "Gilroy-Bold";
  font-weight: 400;
}

.text-normal {
  font-family: "Gilroy-Regular";
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy-Bold";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Gilroy"), url("../../fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Light";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Gilroy"), url("../../fonts/Gilroy-Light.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Light";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("Gilroy"), url("../../fonts/Gilroy-Light.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Medium";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Gilroy"), url("../../fonts/Gilroy-Medium.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Gilroy"), url("../../fonts/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Gilroy"), url("../../fonts/Gilroy-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local("Gilroy"), url("../../fonts/Gilroy-Extrabold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Inter"), url("../../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local("Inter"), url("../../fonts/Inter-SemiBold.woff") format("woff");
}
body {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f5f3ea;
}

.container {
  padding: 0 70px;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 0;
  padding-right: 70px;
  padding-bottom: 0;
  padding-left: 70px;
}
@media (max-width: 1200px) {
  .container {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Gilroy-Bold", "Gilroy-Light", "Gilroy-Medium", "Gilroy-Regular", "Gilroy-SemiBold", "Gilroy-ExtraBold", "Inter", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

body {
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: "Gilroy-Bold", "Gilroy-Light", "Gilroy-Medium", "Gilroy-Regular", "Gilroy-SemiBold", "Gilroy-ExtraBold", "Inter", sans-serif;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.header__page {
  padding-top: 40px;
  padding-bottom: 78px;
}
@media (max-width: 768px) {
  .header__page {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.header__logo-link {
  text-decoration: none;
  color: #000;
  gap: 10px;
  letter-spacing: -0.7px;
}

@media (max-width: 768px) {
  .header__logo-accent {
    display: none;
  }
}

.logo-accent {
  font-size: 35px;
}

.header__logo-text {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  position: relative;
}
@media (max-width: 768px) {
  .header__logo-text {
    display: none;
  }
}
.header__logo-text::after {
  content: "®";
  display: inline-block;
  font-size: 25px;
  width: 21px;
  height: 29px;
  position: absolute;
}

.logo-text {
  font-size: 35px;
  text-transform: uppercase;
}

.header__button-menu {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background-color: inherit;
  border: none;
  font-size: 25px;
}

.text--uppercase-gray {
  text-transform: uppercase;
  color: #252525;
}

.design__name {
  text-align: center;
}

.design__title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.title-main {
  font-family: "Gilroy-SemiBold";
  font-size: clamp(3.563rem, 2.4rem + 5.81vw, 9.375rem);
}

.text--uppercase-gray {
  text-transform: uppercase;
  color: #252525;
}

.design__subtitle {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.subtitle-main {
  font-family: "Gilroy-Light";
  font-size: clamp(3.563rem, 2.4rem + 5.81vw, 9.375rem);
}

.text--capitalize-gray {
  text-transform: capitalize;
  color: #252525;
}

.design__arrow-bottom {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.design__picture {
  margin-top: 51px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
}
@media (max-width: 1200px) {
  .design__picture {
    margin-top: 40px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .design__picture {
    margin-top: 14px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    height: auto;
  }
}

.page-section-fourth-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-section-fourth-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  width: 567px;
  box-sizing: border-box;
  padding: 30px;
}
.page-section-fourth-card--border-bottom {
  border-bottom: 1px solid #000;
}
@media (max-width: 1842px) {
  .page-section-fourth-card--border-bottom {
    border: none;
  }
}
.page-section-fourth-card--border-right {
  border-right: 1px solid #000;
}
@media (max-width: 1842px) {
  .page-section-fourth-card--border-right {
    border: none;
  }
}
@media (max-width: 1842px) {
  .page-section-fourth-card--border-left {
    border-left: 1px solid #000;
  }
}
@media (max-width: 1274px) {
  .page-section-fourth-card--border-left {
    border: none;
  }
}
@media (max-width: 1842px) {
  .page-section-fourth-card--border-top {
    border-top: 1px solid #000;
  }
}
@media (max-width: 1274px) {
  .page-section-fourth-card--border-top {
    border: none;
  }
}
@media (max-width: 1274px) {
  .page-section-fourth-card {
    border-bottom: 1px solid #000;
    width: 100%;
    padding: 40px 0px;
  }
}

.page-section-fourth-title {
  font-family: "Gilroy-Light";
  font-size: 212px;
  font-weight: 300;
  letter-spacing: 8.48px;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #252525;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
}
@media (max-width: 1842px) {
  .page-section-fourth-title {
    font-size: 150px;
    padding-top: 30px;
  }
}
@media (max-width: 962px) {
  .page-section-fourth-title {
    font-size: 82px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.page-section-fourth__title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.page-section-fourth__cards {
  margin-left: 70px;
  margin-right: 70px;
}
@media (max-width: 1274px) {
  .page-section-fourth__cards {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.page-section-fourth-card-title {
  max-width: 507px;
  font-size: 40px;
  font-weight: 800;
  line-height: 44px;
  margin: 0;
}

.page-section-fourth-card-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.page-section-fourth-card-author-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.page-section-fourth-card-author-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.main__section-team {
  padding-top: 50px;
  padding-bottom: 48px;
}
@media (max-width: 1200px) {
  .main__section-team {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

.team {
  border-top: 1px solid #252525;
}

.team__title {
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .team__title {
    margin-bottom: 30px;
  }
}

.team__list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 30px 40px;
  grid-template-areas: "a b c d" "i f g g";
}
@media (max-width: 1200px) {
  .team__list {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-areas: "a b" "c d" "i f" "g g";
  }
}
@media (max-width: 768px) {
  .team__list {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
    grid-template-areas: "a" "b" "c" "d" "i" "f" "g";
    gap: 20px;
  }
}

.team__item {
  padding: 30px 0;
  height: 100%;
}

.item-tyra {
  grid-area: a;
}

.item-darcel {
  grid-area: b;
}

.item-brittni {
  grid-area: c;
}

.item-roselle {
  grid-area: d;
}

.item-jane {
  grid-area: i;
}

.item-robert {
  grid-area: f;
}

.item-job {
  grid-area: g;
}

.team__link {
  text-decoration: none;
  display: block;
}

.team__member-title {
  margin: 0 0 5px 0;
}
@media (max-width: 768px) {
  .team__member-title {
    text-align: center;
  }
}

.member-title {
  font-size: 30px;
}
@media (max-width: 1390px) {
  .member-title {
    font-size: 25px;
  }
}
@media (max-width: 1200px) {
  .member-title {
    font-size: 30px;
  }
}

.member-profession {
  font-size: 20px;
}

.text--uppercase-dark_gray {
  text-transform: uppercase;
  color: #333333;
}

.text--color-dark_gray {
  color: #333333;
}

.team__member-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.team__member-profession {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
@media (max-width: 768px) {
  .team__member-profession {
    text-align: center;
  }
}

.team__list-icons {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 768px) {
  .team__list-icons {
    justify-content: center;
  }
}

.team__text {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
@media (max-width: 768px) {
  .team__text {
    text-align: center;
  }
}

.text-normal {
  font-size: 30px;
}

.text-bold {
  font-size: clamp(2.5rem, 2.2rem + 1.5vw, 4rem);
}

.div-job {
  justify-content: center;
  height: 100%;
}
@media (max-width: 768px) {
  .div-job {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .div {
    width: 100%;
    text-align: center;
  }
}

.div {
  display: flex;
  align-items: center;
}

.team__link-text {
  text-decoration: none;
  color: #fff;
  padding: 9px 29px;
  border-radius: 50px;
  width: 164px;
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 768px) {
  .team__link-text {
    width: 100%;
    justify-content: center;
  }
}

.main__section-work {
  padding-top: 70px;
  padding-bottom: 109px;
}
@media (max-width: 1200px) {
  .main__section-work {
    padding: 30px 0;
  }
}

.work__title {
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .work__title {
    margin-bottom: 30px;
  }
}

.title-section {
  font-size: clamp(3.438rem, 1.475rem + 9.81vw, 13.25rem);
  letter-spacing: 8.48px;
  text-align: center;
}
@media (max-width: 1200px) {
  .title-section {
    letter-spacing: 6px;
  }
}
@media (max-width: 768px) {
  .title-section {
    letter-spacing: 3.2px;
  }
}

.work__list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 40px;
}
@media (max-width: 1200px) {
  .work__list {
    gap: 30px;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .work__list {
    gap: 20px;
  }
}

.work__item {
  position: relative;
  width: 567px;
  flex-shrink: 1;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 70px;
  margin-left: 0;
}
@media (max-width: 1200px) {
  .work__item {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .item--location-three {
    order: 3;
    margin-bottom: 70px;
    min-height: 209px;
  }
}
@media (max-width: 1200px) {
  .item--location-three {
    order: 3;
    margin-bottom: 40px;
    min-height: 198px;
  }
}

.work__div-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 768px) {
  .work__div-content {
    gap: 20px;
  }
}

.work__div-title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.title-content {
  font-size: clamp(2.188rem, 2.125rem + 0.31vw, 2.5rem);
  line-height: 44px;
}

.text--uppercase-black {
  text-transform: uppercase;
  color: #000;
}

.work__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  text-decoration: none;
}

.work__link-item {
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-radius: 50px;
}

.work__link-text {
  text-decoration: none;
  color: #fff;
  padding-top: 10px;
  padding-right: 61px;
  padding-bottom: 10px;
  padding-left: 30px;
  border-radius: 50px;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.link-arrow--position-right::after {
  content: "";
  width: 21px;
  height: 14px;
  display: block;
  background-image: url("../../images/arrow-left.svg");
  background-repeat: no-repeat;
  background-size: 21px 13px;
  position: absolute;
  top: 15px;
  right: 30px;
}

.link-text {
  font-size: 18px;
}

.text--back-white {
  background-color: #fff;
}

.text--back-gray {
  background-color: #252525;
}

.work__img {
  max-width: 100%;
  display: block;
  height: 567px;
}
@media (max-width: 1200px) {
  .work__img {
    height: 921px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .work__img {
    height: 417px;
  }
}

.work__link-block {
  text-align: center;
}

.work__link-options {
  text-decoration: none;
  padding-top: 15px;
  padding-right: 60px;
  padding-bottom: 15px;
  padding-left: 60px;
  border-radius: 50px;
  display: inline-block;
}
@media (max-width: 768px) {
  .work__link-options {
    display: block;
  }
}

.page-section-second {
  display: flex;
  gap: 111px;
}
@media (max-width: 1200px) {
  .page-section-second {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-section-second-img-container {
  background-image: url(../../images/what\ I\ do.png);
  width: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1200px) {
  .page-section-second-img-container {
    height: 991px;
  }
}
@media (max-width: 768px) {
  .page-section-second-img-container {
    background-size: 100%;
  }
}

.text-container h2 {
  font-family: "Gilroy-Light";
  font-size: 150px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  margin-top: 70px;
}
@media (max-width: 1200px) {
  .text-container h2 {
    font-size: 80px;
    min-width: 961px;
    margin-left: 30px;
    margin-top: 0px;
    margin-top: -85px;
  }
}
@media (max-width: 768px) {
  .text-container h2 {
    margin-left: 30px;
    margin-right: 30px;
    margin-right: 30px;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
@media (max-width: 3000px) {
  .text-container {
    margin-right: 70px;
  }
}
@media (max-width: 1920px) {
  .text-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 1200px) {
  .text-container {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.text-container-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
  border-bottom: 1px solid #252525;
}
.text-container-item--bold {
  font-size: 44px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: Gilroy-SemiBold;
}
@media (max-width: 768px) {
  .text-container-item--bold {
    font-size: 35px;
  }
}
.text-container-item--thin {
  font-size: 44px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: Gilroy-Light;
}
@media (max-width: 1200px) {
  .text-container-item {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .text-container-item {
    width: 440px;
  }
}

.text-container-item-1::before {
  content: "01";
  font-size: 35px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: Gilroy-Light;
  margin-right: 14.5px;
}

.text-container-item-2::before {
  content: "02";
  font-size: 35px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: Gilroy-Light;
  margin-right: 14.5px;
}

.text-container-item-3::before {
  content: "03";
  font-size: 35px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: Gilroy-Light;
  margin-right: 14.5px;
}

.text-container-item-4::before {
  content: "04";
  font-size: 35px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: Gilroy-Light;
  margin-right: 14.5px;
}

.text-container__item {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-contacts {
  display: flex;
  align-items: flex-start;
  gap: 120px;
  border-top: 1px solid #252525;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1274px) {
  .page-contacts {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-contacts-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1274px) {
  .page-contacts-container {
    align-items: center;
  }
}

.page__contacts {
  padding-right: 70px;
  padding-left: 70px;
}
@media (max-width: 1274px) {
  .page__contacts {
    padding: 30px 30px 50px 30px;
  }
}

.page-contacts h2 {
  font-family: "Gilroy-Light";
  font-size: 155px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 747px) {
  .page-contacts h2 {
    font-size: 80px;
  }
}

.page-contacts-container h3 {
  font-family: Gilroy-Bold;
  font-size: 64px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 747px) {
  .page-contacts-container h3 {
    font-size: 50px;
  }
}

.page-contacts-container span {
  font-family: Gilroy-Medium;
  font-size: 34px;
  font-weight: 400;
}
@media (max-width: 747px) {
  .page-contacts-container span {
    font-size: 30px;
  }
}

.page-contacts-button {
  border-radius: 50px;
  border: none;
  background: #252525;
  padding: 10px 26px;
  color: #FFF;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  width: 100%;
  max-width: 195px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 747px) {
  .page-contacts-button {
    max-width: 438px;
    justify-content: center;
    gap: 10px;
  }
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 70px;
  border-top: 1px solid #252525;
}
@media (max-width: 1274px) {
  .page-footer {
    padding: 25px 30px;
  }
}
@media (max-width: 747px) {
  .page-footer {
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
  }
}

.page-footer-span {
  font-family: Gilroy-Regular;
  font-size: 18px;
  font-weight: 400;
}
.page-footer-span--bold {
  font-family: Gilroy-SemiBold;
}

.page-footer-media-container {
  display: flex;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */